.containerBig {
    background-color: #c6ebdc;
    margin: 0px;
    padding: 50px;
  }


.buttonCenter{
  display: flex;
  justify-content: left;
  align-items: left;
  background-color: blanchedalmond;
  color:aqua;
}

.alignItems{
  justify-content: center;
  align-items: center;
}