.loginBtn {
    background: transparent;
    color: white;
    border: 2px solid white;
    padding: 5px 10px;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  .loginBtn:active {
    transform: scale(0.98);
  }