.welcomeDashboardContainer {
    background-color: #E4E4E4;
    height: auto;
    width: 99%;
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    padding-left: 5%;
    padding-bottom: 5%
}

.welcomeDashboard {
    color: #5B5B5B;
    font-size: 250%;
    font-weight: light;
    padding-bottom: 4%;
}

.historyContainer {
    /*height: 50%;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-left: 2%
}

.videosContainer {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-left: 2%
}

.historyTitle {
    font-size: 18px;
    font-weight: bold;
}

.historyContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%
}

.catalogContainer {
    width: 500px;
    height: 50px;
    background-color: #C4C4C4;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 1%;
    padding-left: 1%;
}

.catalog {
    position: absolute;
    background-color: #EFEFEF;
    width: 20%;
    box-shadow: 1px 3px 1px #000;
    border-radius: 10px;
    padding: 1%;
    z-index: 1;
    max-height: 30%
}

.testText {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    margin: 0.25rem;
    text-decoration: none;
    color: black;
    font-size: 17px;
    text-align: center;
    padding-top: 2%;
 }

 .historyVideoContainer {
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px
 }